*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

#container{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  /* margin: 0 auto; */
  justify-content: center;
  max-width:1100px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 275px);
  grid-template-rows: 300px 250px;
  
}

#grid-1, #grid-2, #grid-3, #grid-4, #grid-5{
  border-radius: 10px;
  padding: 20px;
}

img {
  border-radius: 50%;
  height: 40px;
}

.grid-img-perfil{
  gap: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.name-perfil h6 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 16px;
}

.name-perfil p{
  color:hsl(217, 19%, 35%);
}

.name-color{
  color:hsl(217, 19%, 35%)!important;
}

.text-profile  h4{
  font-size: 1.1rem;
  margin-bottom:15px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.text-profile p{
  font-size: 0.9rem;
  color:hsl(0, 0%, 81%);
}

.text-color{
  color: white
}

#grid-1{
  grid-column: 1/span 2;
  grid-row: 1;
  background-color: hsl(263, 55%, 52%);
}

#grid-2 {
  grid-column: 3/span 1;
  grid-row: 1;
  background-color: hsl(217, 19%, 35%);
}

#grid-3 {
  grid-column: 4 /span 1;
  grid-row: 1/span 2;
  background-color: hsl(0, 0%, 100%);
}

#grid-4 {
  grid-column: 1 /span 1;
  grid-row: 2;
  background-color: hsl(0, 0%, 100%);
}

#grid-5{
  grid-column: 2/span 2;
  grid-row:2;
  background-color: hsl(219, 29%, 14%);
}
